.App {
  text-align: left;
  display: flex;
  flex-direction: column;
}

.AppRow {
  text-align: left;
  display: flex;
  flex-direction: row;
}

.SideBar {
  height: 90vh;
  overflow-y: scroll;

}

.listGroup {
  margin: 30px 0 0 30px;
}

.listGroup h1, .listGroup h3 {
  border-bottom: 1px #cdcdcd solid;
  width: 73vw;
  padding: 1vh 0 1vh 0 ;
}

.listGroup h1, .listGroup h3, .listGroup h4, .listGroup li {
  color: #484848;
}